- add_to_breadcrumbs _('Roles and Permissions'), group_settings_roles_and_permissions_path
- page_title s_('MemberRole|Edit role')

#js-edit-member-role{ data: { group_full_path: @group.full_path, list_page_path: group_settings_roles_and_permissions_path, role_id: params[:id] } }
